@charset 'utf-8';
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
pre,
code,
form,
a,
button,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 16px;
}
nav {
  line-height: 0;
}
li {
  list-style: none;
}
img,
fieldset {
  border: 0 none;
}
img {
  vertical-align: middle;
}
legend,
hr {
  display: none;
}
button {
  border: 0 none;
  cursor: pointer;
  background: none;
}
em,
address {
  font-style: normal;
}
table {
  border-spacing: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
a,
input,
button,
textarea {
  outline: 0 none;
}
/* lazyload */
img:not([src]):not([srcset]) {
  visibility: hidden;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
}
em, a {
  font-style: inherit;
  text-decoration: none;
  color: #fff;
}
section {
    position: relative;
}