*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #222;
	line-height: 1.5;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 1rem;
	color: #fff;
}
a {
	text-decoration: none;
	color: #fff;
}
#header {
	position: relative;
    height: 72px;
    width: 100%;
    min-width: 1280px;
    // position: fixed;
    // top: 0;
    z-index: 10;
	&:after {
		content: "";
		clear: both;
		display: block;
	}
    section {
        position: relative;
        margin: 0 auto;
        height: 100%;
        width: calc(100% - 80px);
        // test
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-between;
    }
}
input {
	border: none;
	padding: 10px;
	border-radius: 20px;
}
.logo {
	display: flex;
	a {
        align-self: center;
		font-size: 1.5rem;
		display: block;
		padding: 0 10px;
	}
}
/*
.search, .lang-cnt {
	padding: 15px;
}*/
nav {
	// float: right;
	&>ul {
		// float: left;
		position: relative;
	}
	li {
		list-style: none;
		float: left;
		a {
			float: left;
			padding: 35px;
			&:hover {
				background: #2C3E50;
			}
		}
		ul {
			display: none;
		}
		&:hover ul {
			display: inline;
		}
		li {
			float: none;
			a {
				float: none;
				color: #333;
				display: block;
				padding: 8px 10px;
				border-radius: 3px;
				font-size: 0.875rem;
				&:hover {
					background: #222;
					background: #FAFBFB;
				}
			}
		}
	}
	.deps {
		position: relative;
		ul {
			position: absolute;
			left: 0;
			top: 100%;
			background: #fff;
			padding: 20px 0;
			border-bottom: 3px solid #34495e;
		}
		li {
			white-space: nowrap;
			a {
				padding: 10px 35px;
				font-size: 0.875rem;
				min-width: 200px;
			}
		}
	}
}
.lang-cnt {
	display: flex;
    .lang-switch {
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-between;
        display: flex;
        li {
            // display: inline-block;
            &:first-child {
                order: 1;
                &::before {
                    display: inline-block;
                    content: "";
                    clear: both;
                    background-color: rgba(250, 250, 250, 0.5);
                    width: 2px;
                    height: 12px;
                }
            }
            a {
                color: #fff;
                font-size: 1rem;
                letter-spacing: 0.06em;
                font-weight: 700;
                text-transform: uppercase;
                position: relative;
                transition: all 300ms;
                height: 100%;
                padding-left: 8px;
                padding-right: 8px;
                &.current_language {
                    color: rgba(250, 250, 250, 0.5) !important;
                }
            }
        }
    }
}
.mega-col {
	width: 25%;
	float: left;
}
#hamberger {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -12px;
	margin-right: 30px;
	display: none;
    z-index: 100;
	span {
		border: 2px solid #fff;
		width: 30px;
		margin-bottom: 5px;
		display: block;
		-webkit-transition: all .2s;
		transition: all .1s;
	}
}

@media only screen and (max-width: 1170px) {
	nav >ul>li >a { padding: 35px 15px }
}
@media only screen and (min-width: 960px) {
	nav { display: block !important }
}
@include mobile(){
    #header ,#header section {
        position: relative;
        width: 100%;
        min-width: auto;
        display: flow-root;
    }
    nav { display:none;width:100%;clear:both;float:none;max-height:400px;overflow-y:scroll}
    #hamberger { display:inline;top:45px;cursor:pointer}
    #hamberger.active .first { transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:10px}
    #hamberger.active .second{transform:rotate(135deg);-webkit-transform:rotate(135deg);position:relative;top:-9px;}
    #hamberger.active .third { display:none}
    .search { float:none}
    .search input { width:100%}
    nav { padding:10px}
    nav ul { float:none}
    nav li { float:none}
    nav ul li a { float:none;padding:8px;display:block}
    #header nav ul ul { display:block;position:static;background:none;border:none;padding:0}
    #header nav a { color:#fff;padding:8px}
    #header nav a:hover { background:#fff;color:#333;border-radius:3px}
    #header nav ul li li a:before { content:"- "}
}