
// break point
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$gap: 70px;
$gap-mobile: 50px;
@mixin landscape {
    @media (orientation: landscape) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: $breakpoint-desktop - 1) {
        @content;
    }
}

/*
@mixin mobile {
    @media (max-width: $breakpoint-mobile - 1) {
        @content;
    }
}*/
@mixin mobileView {
    @media (max-width: $breakpoint-desktop - 1) {
        @content;
    }
}
// 테블릿 세로모드
@mixin tablet {
    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1){
        @content;
    }
}
// 테블릿 가로모드
@mixin tabletLand {
    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) and (orientation: landscape){
        @content;
    }
}
// 데스크탑
@mixin desktop {
    @media (min-width: $breakpoint-desktop){
        @content;
    }
}
// Z Flip 세로모드
@mixin ZFlip {
    @media only screen and (min-width: 412px) and (orientation: portrait) { 
        @content;
    }
}
// Z Flip 가로모드
@mixin ZFlipLand {
    @media only screen and (min-width: 1004px) and (orientation: landscape) { 
        @content;
    }
}
// ios X 세로모드
@mixin iosX {
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        @content;
    }
}
// color
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #4e4e4e;
$color-gray: #929292;
$color-lightgray: #e1e1e1;
$color-blue: #2366d1;
$color-green: #189876;
$color-red: #ff2f2f;
$color-yellow: #fcb51c;
$color-lightgreen: #2fbc97;
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}
// 말줄임 1줄... 2줄... 3줄...
@mixin text-line-1 {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@mixin text-line-2 {
    text-overflow:ellipsis; 
    overflow:hidden; 
    display:block; 
    display:-webkit-box; 
    -webkit-line-clamp:2; 
    -webkit-box-orient:vertical;  
}
@mixin text-line-3 {
    @include text-line-2;
    -webkit-line-clamp:3;  
}
@mixin text-line-5 {
    @include text-line-2;
    -webkit-line-clamp:5;  
}
//  width정렬
@mixin wid-full {
    position: relative;
    width: 100%;
}
@mixin wid-guide {
    padding: 0 33px;
    position: relative;
    margin: 0 auto;
    max-width: 1366px;
    box-sizing: border-box;
}
@mixin clear {
    &::after, &::before {
        content: '';
        display: table;
    }
    &::after {
        clear: both;
    }
}
// 폰트 크기
@mixin font-xsmall {
    font-size: 0.75rem;
    line-height: 1rem;
}
@mixin font-small {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
@mixin font-base {
    font-size: 1rem;
    line-height: 1.375rem;
}
@mixin font-medium {
    font-size: 1.125rem;
    line-height: 2rem;
}
@mixin font-large {
    font-size: 1.5rem;
    // line-height: 3rem;
}
@mixin pc-font-base {
    font-size: 1.375rem;
    line-height: 1.5rem;
}
@mixin pc-font-medium {
    font-size: 1.5rem;
    line-height: 2.25rem;
}
@mixin pc-font-large {
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: 500;
}
@mixin ui-font {
    font-family: 'tvN Edge Gothic' !important;
    font-weight: 700;
}
@mixin font-hide {
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;  
}