@charset "utf-8";
@import '_swiper.min.scss';
@import '_common.scss';
@import '_mixin.scss';
@import '_header.scss';
@import '_footer.scss';

// WebFonts
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.hide {
    @include font-hide;
}
body {
    position: relative;
    font-family: "Noto Sans KR", Malgun Gothic, dotum, "돋움", Arial, AppleGothic, Sans-serif;
    min-width: 1280px;
    margin: 0 auto;
    border: 0;
	text-transform: uppercase;
	// font-size: 1rem;
    font-weight: 500;
    line-height: 1;
	color: #fff;
    background-color: #050000;
    overflow: hidden visible;
    @include mobile() {
        width: 100%;
        min-width: auto;
    }
}
#teo {
    /* go top btn */
    .btn-page-top {
        position: fixed;
        right: 1.25rem;
        bottom: 1.25rem;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.8) translateY(10px);
        transition: all 0.3s cubic-bezier(0.46, 0.06, 0, 1.37);
        transition-timing-function: cubic-bezier(0.42, 0, 0, 1.29);
        z-index: 100;
        &.show {
            visibility: visible;
            opacity: 1;
            transform: scale(1) translateY(0);
        }
        >button {
            display: block;
            width: 2.125rem;
            height: 2.125rem;
            text-indent: -999em;
            overflow: hidden;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14.2'%3E%3Cpath fill='%23fff' d='M11 5.5l-.7.7L6 2v12.3H5V2L.7 6.2 0 5.5 5.5 0 11 5.5z'/%3E%3C/svg%3E");
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 13px auto;
            background-color: #0a0a0a;
            border-radius: 100%;
        }
        @include tablet() {
            bottom: 1.875rem;
            >button {
                width: 3.125rem;
                height: 3.125rem;
                background-size: 18px auto;
            }
        }
    }
    // 공지 팝업
    .event-popup {
        position: fixed;
        padding: 20px 15px;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        width: 280px;
        top: 203px;
        left: 50%;
        transform: translateX(285px);
        box-sizing: border-box;
        z-index: 100;
        @include mobile(){
            padding: 10px 30px 10px 15px;
            width: 70%;
            top: 55px;
            right: 4%;
            left: unset;
            transform: none;
        }
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            border-radius: .5rem;
        }
        &.hide {
            opacity: 0;
            visibility: hidden;
            display: none;
        }
        .event-title, a{
            float: left;
            color: #000000;
            font-weight: 400;
            z-index: 5;
        }
        .event-title {
            padding: 0 5px 5px 0;
            font-weight: 600;
            font-size: 1.125rem;
            @include mobile(){
                font-size: 0.875rem;
            }
        }
        .event-cnt {
            position: relative;
            display: block;
            margin: 0;
            position: relative;
            padding-top: 10px;
            width: 100%;
            float: left;
            @include mobile(){
                padding-top: 5px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                margin-top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #9b9b9c;
                opacity: .25;
            }
            a {
                width: 100%;
                font-size: 1rem;
            }
        }
        .event-close {
            position: absolute;
            top: 22px;
            right: 15px;
            width: 18px;
            height: 18px;
            text-indent: -9999px;
            font-size: 0;
            line-height: 0;
            @include mobile(){
                top: 12px;
                right: 10px;
            }
            &:before, &:after {
                position: absolute;
                left: 8px;
                content: ' ';
                height: 18px;
                width: 2px;
                background-color: #000000;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
    // 이미지 뉴스 팝업
    .news-popup-wrap {
        // transition: visibility 0s linear 0.2s, opacity 0.2s, transform 0.2s;
        // transform: perspective(1px) translate3d(0, calc(0), 0);
        .news-popup {
            opacity: 1;
            transform: scale(1) translate(-50%, -50%);
            transition: all .3s;
        }
        &.hide {
            visibility: hidden;
            opacity: 0;
            .news-popup {
                opacity: 0;
                transform: scale(.5) translate(-50%, -50%);
            }
        }
        .news-dimm {
            position: fixed;
            display: block;
            top: 0;
            width: 100%;
            height: 100vh;
            min-height: 100vh;
            min-height: -webkit-fill-available; 
            // background-color: #000000;
            opacity: .7;
            z-index: 10000;
        }
        .news-popup {
            position: fixed;
            max-width: 540px;
            max-height: 630px;
            width: 84%;
            top: 50%;
            left: 50%;
            box-sizing: border-box;
            z-index: 10000;
            @include landscape(){
                width: auto;
                height: 85vh;
            }
            .event-cnt {
                width: 100%;
                height: 100%;
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            img {
                display: block;
                width: 100%;
                @include landscape(){
                    width: auto;
                    height: 100%;
                }
            }
            .news-close {
                position: absolute;
                right: 0px;
                top: -30px;
                width: 20px;
                height: 20px;
                text-indent: -9999px;
                font-size: 0;
                line-height: 0;
                padding: 5px;
                box-sizing: content-box;
                &:before, &:after {
                    position: absolute;
                    top: 4px;
                    left: 11px;
                    content: ' ';
                    height: 23px;
                    width: 2px;
                    background-color: #ffffff;
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
            .popup-check {
                position: relative;
                padding: 5px;
                text-align: right;
                .popup-input {
                    display: none;
                    top: 0px;
                    left: 0px;
                    opacity: 0;
                    z-index: 1;
                }
                .popup-label {
                    position: relative;
                    padding: 0 0 0 23px;
                    margin-left: 5px;
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: #ffffff;
                    letter-spacing: -1px;
                    line-height: 1.2;
                    background: url(../images/icon_channel_back.png) no-repeat 0 0;
                    cursor: pointer;
                    display: inline-block;
                    z-index: 20;
                    &.selected span {
                        display: block;
                    }
                    span {
                        position: absolute;
                        left: 0px;
                        top: -2px;
                        width: 23px;
                        height: 19px;
                        background: url(../images/icon_channel_checked.png) no-repeat 0 0;
                        display: none;
                    }
                }
            }
        }
    }
}

// intro 테스트
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@keyframes slideMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -120px 60px;
    }
}
.intro {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #020202;
    z-index: 120002;

    background-color: #ffec63;
    background-image: linear-gradient( 45deg, #ffd966 25%, transparent 25%, transparent 75%, #ffd966 75%, #ffd966 ), linear-gradient( -45deg, #ffd966 25%, transparent 25%, transparent 75%, #ffd966 75%, #ffd966 );
    background-size: 60px 60px;
    background-position: 0 0;
    animation: slideMove 3.5s infinite cubic-bezier(0.52, 0.04, 0.4, 1.15);
    &.hide {
        display: none;
    }
    .intro-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 25px 25px 100px;
        width: 500px;
        box-sizing: border-box;
        white-space: pre-line;
        letter-spacing: 0.15rem;
        font-size: 1.5rem;
        line-height: 1.35;
        font-weight: 600;
        color: #000;
        font-family: 'VT323', monospace;
        border: 3px solid black;
        border-radius: 5px;
        background: white;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5); 
    }
    .intro-close {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        bottom: 25px;
        margin-top: 40px;
        transform: translate(-50%, 25px);
        height: 45px;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        background: white;
        border: 3px solid black;
        box-shadow: 0 0 0 black;
        transition: all 0.2s;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        &.show {
            transform: translate(-50%, 0);
            opacity: 1;
            visibility: visible;
        }
        &:hover {
            box-shadow: 0.4rem 0.4rem 0 black;
            transform: translate(-51%, -5px);
        }
        .btn-close-intro {
            padding: 0 10px;
            line-height: 1;
            font-size: 1rem;
            font-weight: 500;
            text-align:center;
            font-family: inherit;
            // font-family: 'Press Start 2P', cursive;
            font-weight: 600;
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            will-change: transform;
        }
    }
}
.t-visual {
    position: relative;
    width: 100%;
    height: calc(100vh - 72px);
    border: 1px solid #f00;
}
.sec {
    margin: 0 auto;
    width: 1300px;
    box-sizing: border-box;
    overflow: hidden;
    @include mobile() {
        width: 100%;
    }
}
[data-aos="ex-ani01"] {
    transform: translateY(-10px);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
        transform: translateY(0);
        opacity: 1;
    }
}
.item {
    padding: 50px 0;
    width: 100%;
    // margin: 50px auto;
    text-align: center;
    color: #FFF;
    font-size: 1em;
    .title {
        font-size: 3rem;
    }
}
.th-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    li {
        position: relative;
        width: 25%;
        @include mobile(){
            padding: 0 5px;
            width: 50%;
        }
        >a {
            display: block;
            margin: 0 auto 50px;
            width: calc(100% - 35px);
            &:focus, &:hover {
                color: unset;
            }
        }
    }
    .list-img {
        width: 100%;
        position: relative;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
            height: fit-content;
        }
    }
    .list-tit, .list-date {
        display: block;
    }
    .list-tit {
        margin: 15px 0;
        font-size: 1.25rem;
        line-height: 1.25;
        font-weight: 300;
        @include text-line-2;
        @include mobile(){
            font-size: 1rem;
        }
    }
    .list-date {
        text-align: right;
        color: #999;
    }
    .list-category {
        display: inline-block;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        left: 0;
        top: -14px;
        transform: rotate(90deg);
        font-weight: 700;
        transform-origin: 0px 15px;
        color: rgb(0, 115, 255);
        &.drama {
            color: rgb(127, 0, 255);
        }
        @include mobile(){
            top: -17px;
            transform-origin: 0px 20px;
        }
    }
}
// 공통
// 서브타이틀
.t-sub {
    background-color: #fff;
    .sub-tit {
        position: relative;
        padding: 80px 0;
        background-color: #121212;
        color: #fff;
        @include mobile(){
            padding: 40px 0;
        }
        &-inner {
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 50px;
            .sub {
                padding-bottom: 6px;
                color: #9e9e9e;
            }
            .main {
                font-size: 3.75rem;
                line-height: 5rem;
                font-weight: bold;
                @include mobile(){
                    font-size: 3rem;
                    line-height: 3.5rem;
                }
            }
            .text {
                margin-top: 16px;
                min-height: 56px;
                color: #d9d9d9;
                @include mobile(){
                    min-height: 28px;
                }
            }
            span {
                font-size: inherit;
            }
        }
    }
}

// cnt-slider
.cnt-swiper {
    position: relative;
    width: 100%;
    height: 75vh;
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        position: relative;
        height: inherit;
        min-height: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &:nth-child(even) {
            background-image: url("../images/main-key1.jpg");
        }
        &:nth-child(odd) {
            background-image: url("../images/main-key2.jpg");
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.swiper-slide-active {
            strong, p, a {
                animation: flowMotion cubic-bezier(0.2, 0.8, 0.4, 1) forwards;
                animation-delay: .3s;
            }
            strong {
                animation-duration: .3s;
            }
            p {
                animation-duration: .7s;
            }
            a {
                animation-duration: .9s;
            }
        }
    }
    .swiper-pagination {
        bottom: 20px;
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #fff;
        }
    }
    .swiper-button-next, .swiper-button-prev {
        color: #fff;
        transition: all .3s;
        &:hover {
            transform: scale(1.2);
        }
    }
    .swiper-button-next {
        right: 20px;
    }
    .swiper-button-prev {
        left: 20px;
    }
    @keyframes flowMotion{
        0% {
            opacity: 0;
            visibility: hidden;
            transform: translate3d(0, 30px, 0);
        }
        100% {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
        }
    }
    strong, p, a {
        display: block !important;
        font-size: 4.5rem;
        line-height: 1.7;
        text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
        opacity: 0;
        visibility: hidden;
    }
    p {
        padding: 25px 0;
        font-size: 1.375rem;
    }
    a {
        padding-right: 30px;
        font-weight: 700;
        font-size: 1.75rem;
        // transform: translate3d(0, 40px, 0) !important;
        color: #fff;
        &::before, &::after {
            content: "";
            position: absolute;
            right: 0;
            background-color: #fff;
            width: 12px;
            height: 2px;
            display: block;
            transition: all 120ms;
        }
        &::before {
            top: calc(50% + 4px);
            transform: rotate(-45deg);
        }
        &::after {
            top: calc(50% - 4px);
            transform: rotate(45deg);
        }
    }
}

// FAQ
.accordion {
    h3 {
        color: #009688;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #009688;
        margin-bottom: 30px;
        font-weight: 300;
    }
      
    .container {
        max-width: 970px;
    }
    
    div[class*='col-'] {
        padding: 0 30px;
    }
    
    .wrap {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
    
    a {
        &:focus, &:hover, &:active {
            outline: 0;
            text-decoration: none;
        }
    }
    
    .panel {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #009688;
        background: none;
        box-shadow: none;
        
        &:last-child {
            border-bottom: none;
        }
    }
    
    .panel-group {
        > .panel:first-child .panel-heading {
            border-radius: 4px 4px 0 0;
        }
        
        .panel {
            border-radius: 0;
        
            + .panel {
            margin-top: 0;
            }
        }
    }
    
    .panel-heading {
        background-color: #fff;
        border-radius: 0;
        border: none;
        color: #009688;
        padding: 0;
    }
    
    .panel-title a {
        display: block;
        color: #009688;
        padding: 15px;
        position: relative;
        font-size: 16px;
        font-weight: 400;
    }
    
    .panel-body {
        background: #009688;
    }
    
    .panel:last-child {
        .panel-body {
            border-radius: 0 0 4px 4px;
        }
        
        .panel-heading {
            border-radius: 0 0 4px 4px;
            transition: border-radius 0.3s linear 0.2s;
        
            &.active {
            border-radius: 0;
            transition: border-radius linear 0s;
            }
        }
    }
    
    /* #bs-collapse icon scale option */
    
    .panel-heading {
        a:before {
            content: '\e146';
            position: absolute;
            font-family: 'Material Icons';
            right: 5px;
            top: 10px;
            font-size: 24px;
            transition: all 0.5s;
            transform: scale(1);
            color: #009688;
        }
        
        &.active a:before {
            content: ' ';
            transition: all 0.5s;
            transform: scale(0);
        }
    }
    
    // #bs-collapse .panel-heading {
    //     a:after {
    //         content: ' ';
    //         font-size: 24px;
    //         position: absolute;
    //         font-family: 'Material Icons';
    //         right: 5px;
    //         top: 10px;
    //         transform: scale(0);
    //         transition: all 0.5s;
    //     }
        
    //     &.active a:after {
    //         content: '\e909';
    //         transform: scale(1);
    //         transition: all 0.5s;
    //     }
    // }
    
    /* #accordion rotate icon option */
    
    #accordion .panel-heading, #bs-collapse .panel-heading{
        a:before {
            content: '\e316';
            font-size: 24px;
            position: absolute;
            font-family: 'Material Icons';
            right: 5px;
            top: 10px;
            transform: rotate(180deg);
            transition: all 0.5s;
        }
        
        &.active a:before {
            transform: rotate(0deg);
            transition: all 0.5s;
        }
    }
      
}